body {
  background-color: rgba(255,0,0,.8);
  margin: 0;
}
.page-header {
    color: white;
    text-align: center;
}
hr {
  width: 70%;
  color: white;
}
/* form styling */
.form-text {
  color: white;
}
.form
/* Slideshow styling */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height:300px;
}

.mySlides {
    display: none;
}

/* Caption text */
.text {
  display: none;
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
}


/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

/* Flexbox Stuff */

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:30px;
  border: 11px solid rgb(251, 251, 251);
  flex-direction: column;
  background-color: slategrey;
  width: auto;
}
.form-heading {
  padding-bottom: 5px;
  background-color: white;
  align-items: stretch;
  width:100%;
  text-align: center;
}
.submission-form {
  align-items:center;
  justify-content:space-around;
}
.inputbox {
  align-items: center;
  justify-content: center;
  width: 200px ;
  margin: 10px 10px 5px 10px;
  border-radius:5px;

}

.submitButton {
 width:200px;
 margin:12px;
}



/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}