
body {
    background-color: red;
    font-family: 'Play', sans-serif;
}
.header{
    position: center;

}

.packages-main {
    /* display: flex; */
}
.datPic {
    
    width: 250px;
    height: 250px;
    border: 3px solid black;
    margin-right: 20px;
}
section.packages-main {

    clear: left;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(25,25,25,.50);
    border: solid 1px #EBEBEB;
    
} 

.packagescontainer {
    margin-left: 20px;
    padding-top: 20px;

}


.button {
    margin-top: 20px;   
 }

.button:hover {
     background-color: red;
     cursor: pointer;
 }

 /* size and spacing of ambulance */
img.vroom {
    width: 250px;
    padding-left: 200px;
    align-content: right;
}
/* animation for ambluance */
div#vroom {
    position: fixed;
    top:40px;
    left:0;
    width: 40px;
    height: 40px;
    background-image: url("../images/TransparentAmbulanceLogo.png") 0 0 no-repeat;
   
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}